<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/estilos.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
     
        $(document).ready(function () {
      
            $('#iniciarSesion').click(function (e) {
                e.preventDefault();

                $(".loader").addClass("loading");

                var email = document.getElementById("email").value;
                
                $.ajax({
                    type: "GET",
                    url: '/Clientes/SearchUser?email=' + email,
                    data: "",                                                
                    contentType: "application/json; charset=utf-8",            
                    dataType: "text",                                          
                    async: true,                                               
                    success: function (resultado) {
                        $(".loader").removeClass("loading")
                        if (resultado == 'True') {
                            
                            window.location.href = "/Home/Index";
                        } else {
                            alert("No existe el correo ingresado");
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { 
                        
                    }
                });
            });

            $('#formCrearCliente').submit(function (e) {
                e.preventDefault();

                var name = document.getElementById("nameCreate").value;
                var lastName = document.getElementById("lastNameCreate").value;
                var secondLastName = document.getElementById("secondLastNameCreate").value;
                var cedula = document.getElementById("cedulaCreate").value;
                var email = document.getElementById("emailCreate").value;
                var profesion = document.getElementById("profesionCreate").value;

                if (name !== "" && lastName !== "" && secondLastName !== "" && cedula !== "" && email !== "" && profesion !== "") {

                    $.ajax({
                        type: "GET",
                        url: '/Clientes/findUserBool?email=' + email,
                        data: "",
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        async: true,
                        success: function (resultado) {

                            if (resultado == 'True') {
                                alert("Error, el correo ya existe");
                                return false;
                            } else {
                                document.getElementById('formCrearCliente').submit();
                                return true;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                        }
                    });
                }
            });
        });
    </script>
</head>
<body class="m-0 p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar fixed-top mb-5">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a href="/Home/Index" class="nav-link">Inicio</a>
                <a href="/Home/About" class="nav-link">Nuestra Empresa</a>

            </ul>
            @if (Session["nombreCliente"] == null)
            {
                <a href="/Clientes/Create" class="nav-link">¿No te has suscrito?</a>

                <input type="Button" value="Iniciar Sesión" id="iniciarSesion" class="btn btn-outline-success my-2 my-sm-0" />
                @Html.TextBox("email", "Correo", new { @class = "form-control mr-sm-2", id = "email" });



            }
            else
            {
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        @Session["nombreCliente"]
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <a href="/Clientes/CerrarSesion" class="nav-link">Cerrar Sesión</a>

                    </ul>
                </div>
            }
        </div>
    </nav>

    <div class="loader">

    </div>

    @RenderSection("SideBar", required: false)

   

    <div class="container body-content">
        <div id="content">
            @RenderSection("Content", required: false)
        </div>

        @RenderBody()

        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year MASTERS-JKL</p>
        </footer>

        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>